
@{
    ViewBag.Title = "ShowAttendence";
}

<h2>ShowAttendence</h2>


<table class="table">
    <tr>
        <th>
            StudentName
        </th>
        <th>
            Attendence
        </th>
        <th>
            BatchCode
        </th>
        <th>
            Date
        </th>
        <th></th>
    </tr>


    @foreach (var item in ViewBag.StdAtt)
    {
        <tr>
            <td>@item.StudentName</td>
            <td>@item.Attendence</td>
            <td>@item.BatchCode</td>
            <td>@item.Date</td>

        </tr>
    }

</table>


